<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pitaya.metro.daos.IMetroStationDao">
	<resultMap id="BaseResultMap" type="com.pitaya.metro.models.MetroStation">
		<id column="StationNum" property="stationNum" jdbcType="INTEGER"/>
		<id column="LineNum" property="lineNum" jdbcType="INTEGER"/>
		<result column="StationName" property="stationName" jdbcType="CHAR"/>
		<result column="IntervalTime" property="intervalTime" jdbcType="INTEGER"/>
	</resultMap>
	
	<select id="findAll" resultMap="BaseResultMap">
		select * from MetroStation
	</select>
	
	<select id="getGoThroughTime" resultType="java.lang.Integer">
		SELECT SUM(MetroStation.IntervalTime) FROM MetroStation 
			<![CDATA[WHERE MetroStation.StationNum > #{startStationNum, jdbcType=INTEGER} 
				AND MetroStation.StationNum <= #{currentStationNum, jdbcType=INTEGER}]]>
	</select>
	
</mapper>