<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pitaya.metro.daos.IMetroStationDao">
	<resultMap id="BaseResultMap" type="com.pitaya.metro.models.MetroStation">
		<id column="LineNum" property="lineNum" jdbcType="INTEGER"/>
		<id column="Station" property="station" jdbcType="INTEGER"/>
	</resultMap>
	
	<select id="findAll" resultMap="BaseResultMap">
		select * from MetroStation
	</select>
	
</mapper>